/*
Name: Aleeza Wajeehullah
Date created: 3/17/25
Date last edited: 3/19/25
Version: 1.1
Description: Homework 3 CSS
*/

/* basic webpage css elements */
header {
  width: 100%;
  background-color: rgb(217, 235, 237);
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(166, 193, 202);
  margin: 0;
  height: 100%;
  min-height: 100vh; /* page is height of the viewport */
}


form {
  flex-grow: 1;
}
h1, h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  flex-grow: 1;
}

main {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  flex-grow: 1;
}

.image {
  text-align: left;
}

.td1 {
  text-align: right;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
}

th {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}


/* footer css elements */
footer {
  position: relative;/*changed from flex*/
  bottom: 0;
  width: 95%;
  background-color: rgb(166, 193, 202);
  height: 2.0rem;
}

#footer {
  text-align: right;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
  margin-right: 10px;/*changed from margin-right: 10px;*/
}


/* basic webpage elements */
label {
  text-align: right;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
}

input {
  text-align: left;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
}

textarea {
  text-align: left;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
}


#today {
  text-align: left;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
  margin-right: 5px;
}

p {
  text-align: right;
  font-family: "optima", 'Times New Roman', Times, serif;
  font-weight: normal;
}


/* password fields */
.error {
  color: red;
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.pword-message {
text-align: left; 
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
position: static; 
padding: 0;
margin-top: 5px; 
color: red;
}

/* .pword-message {
    text-align: right;
    font-family: pick a font;
    font-weight: normal;
    position: relative;
    left: _px;
    background: transparent;
    padding: _px;
    border-spacing: _px;
    border-radius: _px;
    color: red;
} 

EXAMPLE */

/* review button css */
#review {
margin-top: 5px;
}

/* new addition to hw3 */
#alert-box {
  display: none;
  position: fixed;
  z-index: 9999;
}

/* new addition to hw3 */
#alert-content {
    background-color: red;
    border-radius: 10px;
    width: _px;
    height: _px;
    margin: auto;
    margin-top: _px;
    padding: _px;
    text-align: center;
}

#alert-content h4 {
   
}

#close-alert {
    background-color: pick a color;
    border-width: 1px;
    border-style: solid;
    color: pick a color;
    border-color: pick a color;
    font-size: _px;
    font-weight: bold;
    height: _px;
    width: _px;
    border-radius: _px;
    cursor: pointer;
    margin-top: _px;
    text-align: center;
    font-family: pick a font;
}

table.output {
  width: 500px;
  background-color: white; 
  padding: 10px;
  border-spacing: 2px;
  border-radius: 10px; 
  color: black; 
  border: 2px solid rgb(166, 193, 202); 
}

td.output {
  background-color: white; 
  padding: 10px;
  border-spacing: 2px;
  color: black;
  font-family: 'Times New Roman', Times, serif; 
  font-size: 14px; 
}

/*table.output,
tr.output,
td.output {
    
}

td.outputdata {
    
}
EXAMPLE */

/* END OF THE CSS FILE */
